$popup-bg-color: white
$popup-width: 200px
$border-color: rgb(221, 221, 221)

.container
  width: $popup-width
  padding: 1rem
  background-color: $popup-bg-color
  border: 0.1px solid $border-color
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2)

  position: absolute
  right: -$popup-width * 1.2
  top: -50%
  z-index: 999
