@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap')
@import '../../common/styles/variables'
@import '../../common/styles/colors'

.container
  margin: 3rem 0

  display: flex
  flex-wrap: wrap
  justify-content: center

  font-size: 0.9rem
  font-family: 'Raleway',sans-serif
  > *
    flex-basis: 100%
    @media screen and (min-width: 768px)
      flex-basis: 23%

.box
  cursor: pointer
  padding: 0 $space / 2
  @media screen and (min-width: 768px)
    max-width: 250px
  @media screen and (max-width: 767px)
    border: 5px solid black
    &+&
      margin-top: $space
